<h1>Convert <%= @original_currency %> to <%= @destination_currency %></h1>

<p>1 <%= @original_currency %> equals <%= @exchange_rate %> <%= @destination_currency %>.</p>

<p>Go <a href="/forex/<%= @original_currency %>">back</a>.</p>
