<h1>Convert <%= @original_currency %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
  <% @symbols.each do |to| %>
    <li>
      <a href="/forex/<%= @original_currency %>/<%= to %>">
        Convert 1 <%= @original_currency %> to <%= to %>...
      </a>
    </li>
  <% end %>
</ul>
